[submodule "third_party/websocketpp"]
	path = third_party/websocketpp
	url = https://github.com/zaphoyd/websocketpp
[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl
[submodule "third_party/libwebsockets"]
	path = third_party/libwebsockets
	url = https://github.com/warmcat/libwebsockets
[submodule "third_party/mongoose"]
	path = third_party/mongoose
	url = https://github.com/cesanta/mongoose
